.x-operator-button {
    width: 16px;
    height: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow: hidden; /* IE 6 :-( */
    margin-top: 4px;
    background-color: white;
}

.x-operator-button-equal {
    background-image: url(/alejandria/plugins/images/operator-equal.gif);
}

.x-operator-button-not-equal {
    background-image: url(/alejandria/plugins/images/operator-not-equal.gif);
}

.x-operator-button-great-than {
    background-image: url(/alejandria/plugins/images/operator-great-than.gif);
}

.x-operator-button-less-than {
    background-image: url(/alejandria/plugins/images/operator-less-than.gif);
}

.x-operator-button-great-than-equal {
    background-image: url(/alejandria/plugins/images/operator-great-than-equal.gif);
}

.x-operator-button-less-than-equal {
    background-image: url(/alejandria/plugins/images/operator-less-than-equal.gif);
}

/*.ext-ux-operatorbutton-mouse-over-input {
    background-position: 0 0px;
}

.ext-ux-operatorbutton-mouse-over-button {
    background-position: 0 -24px;
}

.ext-ux-operatorbutton-mouse-down {
    background-position: 0 -36px;
}
*/


.x-grid-header-ct .x-column-filtered .x-column-header-inner .x-column-header-text {
    font-weight: bold;
    font-style: italic;
    color: green;
}

.ext-ux-clearbutton {
    width: 12px;
    height: 12px;
    background-image: url(../images/clear-text-icon.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow: hidden; /* IE 6 :-( */
    margin-top: 4px;
    background-color: white;
}

.ext-ux-clearbutton-mouse-over-input {
    background-position: 0 -12px;
}

.ext-ux-clearbutton-mouse-over-button {
    background-position: 0 -24px;
}

.ext-ux-clearbutton-mouse-down {
    background-position: 0 -36px;
}

.ext-ux-clearbutton-on {
    opacity: 1;
    visibility: visible;
    transition: opacity .35s linear;
    -webkit-transition: opacity .35s linear;
    -moz-transition: opacity .35s linear;
    -o-transition: opacity .35s linear;
    -ms-transition: opacity .35s linear;
    -khtml-transition: opacity .35s linear;
}

.ext-ux-clearbutton-off {
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s linear, visibility .0s linear .35s;
    -webkit-transition: opacity .35s linear, visibility .0s linear .35s;
    -moz-transition: opacity .35s linear, visibility .0s linear .35s;
    -o-transition: opacity .35s linear, visibility .0s linear .35s;
    -ms-transition: opacity .35s linear, visibility .0s linear .35s;
    -khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}

